:root {
  --global_component_padding_mobile: 2rem 1rem;
  --global_component_padding: 2rem 4rem;
}

html {
  height: 100%;
  max-height: 100vh;
  position: relative;
  z-index: -1;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #141416;
  color: #e8e8e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.toast_success {
  border-color: #4caf7a !important;
  color: #4caf7a !important;
}

.toast_error {
  border-color: #e05c5c !important;
  color: #e05c5c !important;
}
