.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.main_title {
  text-align: center;
}

.link_to_login {
  background-color: transparent;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid #c9a84c;
  transition: 0.4s ease all;
}

.link_to_login:hover {
  background-color: #c9a84c;
}

.civ_style {
  color: #c9a84c;
}
