.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--global_component_padding);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0a0c;
}

